# Testing and Verification

You are now ready to test and experience the Webex Calling AI features.

For this section you will use two Webex apps to demonstrate and test the Agent and the Supervisor features.

<p class="lab-step" markdown="1">250. Using Workstation1(wkst1), please open the Webex app. The Webex app is pre-installed, and you should be able to find the application in the Desktop. Double-click to open the Webex app. You will use the Webex app in Workstation1 for Agent Taylor Bard and Workstation2 for Supervisor Stefan Mauk.</p>

<p class="lab-step" markdown="1">251. In the Webex Login screen, click Sign in</p>

![Screenshot](./assets/image105.png)

<p class="lab-step" markdown="1">252. Enter Taylor Bard’s email address. The email will be tbard@cbXXX.dc-YY.com. Click Next.</p>

<p class="lab-step" markdown="1">253. Enter the password for Taylor.</p>

<p class="lab-step" markdown="1">254. Refer to the Getting started section to get the credentials.</p>

<p class="lab-step" markdown="1">255. If you see a Warning message about Webex app version needs to be updated, click “Close”.</p>

<p class="lab-step" markdown="1">256. Click “Ok” in the Emergency Calling Notification pop-up. (Please do not dial 911 from this Webex app)</p>

![Screenshot](./assets/image106.png)

<p class="lab-step" markdown="1">257. Click the “Customer Assist” icon in the left pane of the Webex app as shown below. You will then see the Customer Assist window of this user.</p>

!!! note

    Note: Taylor is assigned as an Agent of the Sales and Orders queue, so the Customer Assist Window you are seeing is the Agent screen.

![Screenshot](./assets/image107.png)

You can see the Agent state as ‘Available’ in the bottom of the Webex app, if you click the ‘Available’ option you can see Taylor is signed in to the Sales queue.

There are few options here for the Agent. First, Agent Status – if you click on the drop-down, you can see the different states that the Agent can choose. Available, Unavailable and Wrapping-up. Do not change the Agent state but go through/review the options the Agent has. Click Available after reviewing the options.

Available – The agent is ready to receive calls from queues.

Unavailable – The agent is not available to receive calls from queues.

Wrapping Up – The agent is in the Wrapping up state after a call and not available to receive new calls from the queue

![Screenshot](./assets/image108.png)

<p class="lab-step" markdown="1">258. Go back to the dCloud Session detail page and click and on “Remote Desktop” for WKST2.</p>

<p class="lab-step" markdown="1">259. Open the Webex app in the Desktop of WKST2.</p>

<p class="lab-step" markdown="1">260. Click “Sign in” in the Webex app screen.</p>

<p class="lab-step" markdown="1">261. Stefan Mauk is the Supervisor for the Sales and Orders queue you created. Enter the Email address of the user Stefan, it will be smauk@cbXXX.dc-YY.com, where XXX and YY can be obtained from the Getting started page then click Next. The domain is the same for all the users.</p>

![Screenshot](./assets/image109.png)

<p class="lab-step" markdown="1">262. Enter the password for user Stefan. It is dCloudZZZZ!. (It is the same password that you used for the previous user Taylor). If you are still not sure, refer to the Getting started page for ZZZZ value then click Sign In.</p>

![Screenshot](./assets/image110.png)

<p class="lab-step" markdown="1">263. If you see a Warning message about Webex app version needs to be updated, click “Close”.</p>

<p class="lab-step" markdown="1">264. Click “Ok” in the Emergency Calling Notification pop-up. (Please do not dial 911 from this Webex app)</p>

![Screenshot](./assets/image111.png)

<br>

<p class="lab-step" markdown="1">265. Click on the “Customer Assist” icon in the Webex app. Since Stefan is the Supervisor, he can see the Agents that are assigned to him. As the Supervisor, Stefan can see the agent’s (in this example, Taylor) current state and the duration of that state. ![Screenshot](./assets/image112.png)</p>

<p class="lab-step" markdown="1">266. Go back to the dCloud Session detail page and click and on “Remote Desktop” for WKST3.</p>

<p class="lab-step" markdown="1">267. In Workstation3 (wkst3), please open the Webex app. The Webex app is pre-installed, and you should be able to find the application in the Desktop. Double-click to open the Webex app. We will sign in here as Rebekah Barretta, our Returns and Support agent.</p>

<p class="lab-step" markdown="1">268. In the Webex Login screen, click Sign in</p>

![Screenshot](./assets/image105.png)

<p class="lab-step" markdown="1">269. Enter Rebekah Baretta’s email address. The email will be rbarretta@cbXXX.dc-YY.com. Click Next.</p>

<p class="lab-step" markdown="1">270. Enter the password for Rebekah, it should be in the dCloudZZZZ!.</p>

<p class="lab-step" markdown="1">271. Refer to the Getting started section to get the credentials. The domain and the password are same for all the users (only the username changes)</p>

<p class="lab-step" markdown="1">272. If you see a Warning message about Webex app version needs to be updated, click “Close”.</p>

<p class="lab-step" markdown="1">273. Click “Ok” in the Emergency Calling Notification pop-up. (Please do not dial 911 from this Webex app)</p>

![Screenshot](./assets/image106.png)

<p class="lab-step" markdown="1">274. Click the “Customer Assist” icon in the left pane of the Webex app as shown below. You will then see the Customer Assist window of this user.</p>

!!! note

    Note: Rebekah is assigned as an Agent of the Returns and Support, so the Customer Assist Window you are seeing is the Agent screen.

![Screenshot](./assets/image113.png)

You can see the Agent state as ‘Available’ in the bottom of the Webex app, if you click the ‘Available’ option you can see Rebekah is signed in to the Returns and Support queue.

<p class="lab-step" markdown="1">275. Navigate back to the Webex Control Hub in Workstation1. If the page is logged out, please use Charles’s credential to login to Webex Control Hub.</p>

<p class="lab-step" markdown="1">276. Once logged in, navigate to PSTN &amp; Routing under Services and click on Numbers tab. Make a note of the Phone number assigned to “AI Receptionist – Retail AI Receptionist” as shown below.</p>

![Screenshot](./assets/image177.png)

<p class="lab-step" markdown="1">277. Make a call from your Cellphone to this “AI Receptionist – Retail AI Receptionist” number. You should hear the AI Receptionist answer the call and hear the AI Transparency message followed by the Welcome message.</p>

<p class="lab-step" markdown="1">278. Remember we had uploaded a Knowledge Base document to the AI Receptionist. Lets go ahead and ask some questions to make sure our AI Receptionist is able to lookup the document and answer our queries.</p>

### Ask question such as a How long does shipping take?

### How can I track my order? My package hasn't arrived. What should I do?

### You can cross-reference the Knowledge base to make sure you are getting the correct answers.

<p class="lab-step" markdown="1">279. When you are ready, ask the AI Receptionist to transfer your call to someone so that you can make an appointment or you have a query on the billing you received.</p>

<p class="lab-step" markdown="1">280. The AI Receptionist will confirm your Transfer request and then will transfer your call to the Sales and Orders queue.</p>

<p class="lab-step" markdown="1">281. Go to Workstation1 RDP and you will see Taylor’s Webex app ringing. Click Answer in the pop-up as shown below. ![Screenshot](./assets/image178.png)</p>

<br>

<p class="lab-step" markdown="1">282. You will see the screen pop-up open in a web browser. We have setup a screen pop-up, when an agent answers the call – we are looking up the Caller’s number and showing up the result in the webpage.</p>

<p class="lab-step" markdown="1">283. You can minimize this window</p>

![Screenshot](./assets/image116.png)

<p class="lab-step" markdown="1">284. You will now see the Active Call Window with the queue name “Sales and Orders” and the Calling number (your cellphone number).</p>

!!! note

    Note: If you see a popup saying Microphone was not found, click ok

![Screenshot](./assets/image179.png)

<p class="lab-step" markdown="1">285. Now, look at other features for the Agent. You can leave the Call-in mute and in connected state. Click in the Webex app, Customer Assist and you can see the “Live Contacts in queue trend” – this shows the Agent how many calls are currently in the queue (you can see the 1 call you place listed, the value goes to 0 as you answer)</p>

![Screenshot](./assets/image180.png)

<br>

<p class="lab-step" markdown="1">286. Now scroll down in the screen and you can see the “Live queue stats” section.</p>

![Screenshot](./assets/image181.png)

This section shows the List of Call queues that the Agent Taylor is part of and the Live Stats of these queues such as Total Agents, Agents Staffed, Agents idle and Agents unavailable.

There is also an option to Search/Filter by Queue name, when you click on the Search bar – you get an option to filter and look at the stats of a particular call queue.

Now you have explored the agent desktop, let’s look at what the Supervisor can see.

<p class="lab-step" markdown="1">287. Please leave the call in connected state and move to Workstation2.</p>

<p class="lab-step" markdown="1">288. In Stefan’s Webex app, you should be able to see the following screen. This shows us some info about the Agents.</p>

![Screenshot](./assets/image182.png)

You can see Taylor’s Presence as “In a call”, his presence status shows “Connected” indicating he is in a call from the “Sales and Orders” queue and his Agent state is “Available”. This way, the Supervisor Stefan can see the list of his Agents and their live status.

<p class="lab-step" markdown="1">289. You can also see, the supervisor Stefan has some Actions buttons. The one indicated in the picture below is to allow Stefan to send a quick message to Taylor using Webex messaging.</p>

![Screenshot](./assets/image121.png)

<p class="lab-step" markdown="1">290. The next action button like shown below, this allows the Supervisor Join/Un-join the Agent from the queue by checking/un-checking the box ![Screenshot](./assets/image183.png)</p>

<br>

<p class="lab-step" markdown="1">291. Click on the three dots (…), to see more options for the Supervisor. The Supervisor can change the Agent state to Available or Unavailable. And, if the Supervisor needs to, they can Sign out the Agent from the queue.</p>

![Screenshot](./assets/image123.png)

<p class="lab-step" markdown="1">292. The first action button is the “Monitoring” action button. When you click this, the Supervisor can perform a Silent monitoring of the call between Agent and the End-customer.</p>

![Screenshot](./assets/image124.png)

<br>

<p class="lab-step" markdown="1">293. Now click the Monitoring button and you should see the following Call window in Ricardo’s machine.</p>

![Screenshot](./assets/image125.png)

!!! note

    Note: The Supervisor can listen to the call between Agent and the End-customer. But the Agent and the End-customer are completely unaware of the Supervisor’s presence in the call.

<p class="lab-step" markdown="1">294. In the above Monitoring window, you can see you have various call control options. The first one is “Whisper Coach”. If you click that, then the Supervisor can do whisper coaching to the Agent.</p>

![Screenshot](./assets/image126.png)

<br>

<p class="lab-step" markdown="1">295. The next action button is Barge. This will allow the Supervisor to barge-in to the call between the Agent and the End-customer. This way, the Supervisor can speak with the Agent and the End-customer if needed.</p>

![Screenshot](./assets/image127.png)

<p class="lab-step" markdown="1">296. You can then click the “Transcript” icon and “Start Transcript” option to view the real time transcription, as you speak – you should be able to see the transcription adding up.</p>

![Screenshot](./assets/image128.png)

<p class="lab-step" markdown="1">297. Hang up the call and you will be prompted to enter a Wrap up code.  Select a Wrap up reason from the list and click Submit Reason. These are the Wrap-up codes we have created for this queue.</p>

![Screenshot](./assets/image184.png)

Similarly, if you would like you can call again to the AI Receptionist number and have the AI Receptionist transfer the call to the Returns and Support queue. Answer the call in Workstation3, in Rebekah’s Webex app.

<br>

<p class="lab-step" markdown="1">298. Switch to Workstation 2 and under the Customer Assist tab you will see the queue activity in Stefan’s Webex app, you can see the queue activity based on Agents, Queues and Reports.</p>

!!! note

    Note: The Screenshot you see in the lab might not be the same as below because you do not have enough data from the queue you just created – the screenshots below is a reference on how it would look in an actual customer environment

<p class="lab-step" markdown="1">299. On the Agents tab, click Statistics. Supervisors can review the statistics of agents over a period. Look at what your supervisor is seeing with how you are interacting within this lab. This screen shows the stats including Connected counts, Average handle time, Average inbound connected time, Average inbound hold time (scroll down to see all the data).</p>

![Screenshot](./assets/image130.png)

<p class="lab-step" markdown="1">300. On the Agents tab, click Wrap up. Like statistics, the supervisors can see agent wrap up information, including Average wrap up duration and wrap up reason usage (scroll down to see all the data)</p>

![Screenshot](./assets/image131.png)

<br>

<p class="lab-step" markdown="1">301. Next click on the Queues tab.  From here the supervisor can see real time and historical queue information.</p>

![Screenshot](./assets/image132.png)

<p class="lab-step" markdown="1">302. Notice in many of these cards, the supervisor has the option to click on the ellipses and download to a csv file.</p>

![Screenshot](./assets/image133.png)

